{% extends "proiezioni/base.html" %}
{% load eletags humanize %}

{% block title %}Proiezioni Candidati{% endblock %}
{% block custum_style %}

{% endblock %}

{% block proiezione %}

    {% with proiezione=elezione.proiezioni.all.last %}
        {% include 'includes/_proiezioni_info.html' with proeizione=proiezione %}

        {% for candidato in proiezione.candidati.all %}
            {% if forloop.counter0 %}
            <div class="row candidato-one">
                {% include 'includes/_proiezioni_candidato_one.html' with candidato=candidato %}
            </div>
            {% endif %}
        {% endfor %}
    {% endwith %}
{% endblock %}

        {% comment %}
        <h4>Liste</h4>
        <ul>
            {% for lista in proiezione.liste.all %}
            <li>{{ lista.lista|upper }}
                <strong>{{ lista.voti }}</strong>%
                <small>
                <{{ lista.forbice|forbice_inf_of:lista.voti }}<small class="text-muted">%</small>
                –
                {{ lista.forbice|forbice_sup_of:lista.voti }}<small class="text-muted">%</small>>
                <<strong class="text-muted">{{ lista.forbice }}</strong>%>
                </small>
            </li>
            {% endfor %}
        <ul>
        {% endcomment %}
