{% extends "proiezioni/base.html" %}
{% load eletags humanize %}

{% block title %}Proiezioni Candidati – {{ elezione }}{% endblock %}
{% block custum_style %}

{% endblock %}

{% block proiezione %}
    {% if proiezione %}
        {% include 'includes/_proiezioni_info.html' with proeizione=proiezione %}
    <div class="row proiezione-candidati">
    {% for candidato in proiezione.candidati.all %}
    <div class="col-xs-2 candidato">
            {% include 'includes/_proiezioni_candidato.html' with candidato=candidato %}
    </div>
    {% endfor %}
    </div>

    <div class="col-xs-10 errore text-right">
        <small class="text-right">Ricerca soggetta a errore statistico</small>
    </div>

    {% comment %}
    {% for candidato in proiezione.candidati.all %}
        <div class="col-md-3" style="padding: 5px;">
            <a href="{% url 'proiezioni_candidato' elezione.id candidato.candidato_id %}">
            {% include 'includes/_proiezioni_candidato.html' with candidato=candidato %}
            </a>
        </div>
    {% endfor %}
    {% endcomment %}

    {% comment %}
        {% for candidato in proiezione.candidati.all|dictsortreversed:"voti" %}

            {% if forloop.counter0 == 0 or forloop.counter0 == 1 %}
                {% if forloop.counter0 == 0 %}
                    <div class="row" style="padding-top: 20px;">
                {% endif %}
                    <div class="col-xs-4 {% if forloop.counter0 == 0 %}col-md-offset-2{% endif %}" style="padding: 20px;">
                        <a href="{% url 'proiezioni_candidato' elezione.id candidato.candidato_id %}">
                        {% include 'includes/_proiezioni_candidato.html' with candidato=candidato %}
                        </a>
                    </div>
                {% if forloop.counter0 == 1 %}
                   </div>
                {% endif %}
            {% else %}
                {% if forloop.counter0 == 2 %}
                    <div class="row" style="padding-top: 0px; margin-top: 0; padding: 0px; margin: 0px;">
                {% endif %}
            <div class="col-xs-2 {% if forloop.counter0 == 2 %}col-xs-offset-3{% endif %}" style="padding: 0px 5px;">
                <a href="{% url 'proiezioni_candidato' elezione.id candidato.candidato_id %}">
                {% include 'includes/_proiezioni_candidato.html' with candidato=candidato %}
                </a>
            </div>
                {% if forloop.last %}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
     {% endcomment %}

    {% else %}
        Al momento non ci sono proiezioni disponibili.
    {% endif %}
{% endblock %}
