{% extends "base.html" %}

{% block title %}Proiezioni{% endblock %}

{% block brand %}Proiezioni{% endblock %}

{% block navmenu %}
<li class="dropdown-header">Proiezioni</li>
<li><a href="{% url 'proiezioni_candidati' elezione.id %}"><span class="glyphicon glyphicon-user"></span> Candidati</a></li>
<li><a href="{% url 'proiezioni_liste' elezione.id %}"><span class="glyphicon glyphicon-list-alt"></span> Liste</a></li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            {% block proiezione %}
            {% endblock %}
        </div>
        <div class="col-md-4" style="">
            {% block sponsor %}
                {% include 'includes/_sponsor.html' %}
            {% endblock %}
        </div>
    </div>
{% endblock %}