{% extends "proiezioni/base.html" %}
{% load eletags humanize %}

{% block title %}Proiezioni Candidati{% endblock %}
{% block custum_style %}

{% endblock %}

{% block proiezione %}
    <div class="container-fluid">



    {% with proiezione=elezione.proiezioni.all.last %}
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'crea_proiezione' elezione.id %}">Crea Proiezione</a><br>
            <i>Copertura campione</i>: {{ proiezione.copertura }}%<br>
            <i>Dati aggiornati alle</i>: {{ proiezione.data_creazione|date:'G:i' }} <small>({{ proiezione.data_creazione|naturaltime }}</small>)
        </div>
    </div>
    <div class="row">
    {% for candidato in proiezione.candidati.all %}
        <div class="col-md-3">
            {% include 'includes/_proiezioni_candidato.html' with candidato=candidato %}
        </div>
    {% endfor %}
    </div>

    {% endwith %}
    </div>
{% endblock %}

        {% comment %}
        <h4>Liste</h4>
        <ul>
            {% for lista in proiezione.liste.all %}
            <li>{{ lista.lista|upper }}
                <strong>{{ lista.voti }}</strong>%
                <small>
                <{{ lista.forbice|forbice_inf_of:lista.voti }}<small class="text-muted">%</small>
                –
                {{ lista.forbice|forbice_sup_of:lista.voti }}<small class="text-muted">%</small>>
                <<strong class="text-muted">{{ lista.forbice }}</strong>%>
                </small>
            </li>
            {% endfor %}
        <ul>
        {% endcomment %}
