{% extends "proiezioni/base.html" %}
{% load eletags humanize %}

{% block title %}Proiezioni Candidati{% endblock %}
{% block custum_style %}
<style>
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 3px;
    vertical-align: middle;
    border-top: 0px solid #ddd;
}

</style>

{% endblock %}

{% block proiezione %}
    <div class="container-fluid" style="margin: 0px; padding: 0px;">
    <div class="row">
        <div class="col-md-12">
            <span>COPERTURA CAMPIONE: <b>{% widthratio proiezione.copertura 1 100%}%</b></span>

            <span class="pull-right text-muted">
                Dati aggiornati alle</i>: {{ proiezione.data_creazione|date:'G:i' }} <small>({{ proiezione.data_creazione|naturaltime }}</small>)
            </span>
        </div>
    </div>

        <div class="row" style="padding-top: 60px; margin-bottom: 400px;">
            <div class="col-md-4">
            {% include 'includes/_proiezioni_candidato.html' with candidato=candidato %}

            </div>
            <div class="col-md-8">
            <div class="caption text-center pull-right" style="background-color: gold; width: 120px;">
                    {% with voti=candidato.voti_liste %}
                    <h3 class="h3" style="margin: 0;">{{ voti|floatformat:1 }}<small>%</small></h3>
                    {% with forbice=candidato.forbice_liste %}
                    <p class="text-nowrap" style="font-size: 85%">
                        {{ forbice|forbice_inf_of:voti|floatformat:1 }}<small class="text-muted">%</small> –
                        {{ forbice|forbice_sup_of:voti|floatformat:1 }}<small class="text-muted">%</small>
                    </p>
                    {% endwith %}
                {% endwith %}
            </div>
            <table class="table table-responsive">
            {% for l in liste %}
                {% with lista=l.lista %}
                <tr>
                <td>
                    <img src="{{ MEDIA_URL }}{{ lista.simbolo|default:"images/default.gif" }}" alt="..." class="img-circle img-responsive" style="width:45px">
                </td>
                <td><h5>{{ lista.nome }}</h5></td>
                <td>

                <div class="caption text-center" style="">
                        {% with voti=l.voti %}
                        <h3 class="h3" style="margin: 0;">{{ voti|floatformat:1 }}<small>%</small></h3>
                        {% with forbice=l.forbice %}
                        <p class="text-nowrap" style="font-size: 85%">
                            {{ forbice|forbice_inf_of:voti|floatformat:1 }}<small class="text-muted">%</small> –
                            {{ forbice|forbice_sup_of:voti|floatformat:1 }}<small class="text-muted">%</small>
                        </p>
                        {% endwith %}
                    {% endwith %}
                </div>

                </td>
                {% endwith %}
                </td>

                </tr>
            {% endfor %}
            </table>
            </div>
        </div>
    </div>
{% endblock %}

        {% comment %}
        <h4>Liste</h4>
        <ul>
            {% for lista in proiezione.liste.all %}
            <li>{{ lista.lista|upper }}
                <strong>{{ lista.voti }}</strong>%
                <small>
                <{{ lista.forbice|forbice_inf_of:lista.voti }}<small class="text-muted">%</small>
                –
                {{ lista.forbice|forbice_sup_of:lista.voti }}<small class="text-muted">%</small>>
                <<strong class="text-muted">{{ lista.forbice }}</strong>%>
                </small>
            </li>
            {% endfor %}
        <ul>
        {% endcomment %}
