{% extends "proiezioni/base.html" %}
{% load eletags humanize %}

{% block title %}Proiezioni Liste – {{ elezione }}{% endblock %}
{% block custum_style %}

{% endblock %}

{% block proiezione %}

    <div class="container-fluid" style="margin: 0px; padding: 0px;">



    {% with proiezione=elezione.proiezioni.all.last %}
    {% if proiezione %}
    <div class="row">
        <div class="col-md-12">
            <span>COPERTURA CAMPIONE: <b>{% widthratio proiezione.copertura 1 100%}%</b></span>

            <span class="pull-right text-muted">
                Dati aggiornati alle</i>: {{ proiezione.data_creazione|date:'G:i' }} <small>({{ proiezione.data_creazione|naturaltime }}</small>)
            </span>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
    <div class="col-md-12">
        <table class="table table-bordered table-condensed">
        {% for lista in proiezione.liste.all %}
            <tr>
                <td>
                    <img src="{{ MEDIA_URL }}{{ lista.lista.simbolo|default:"images/default.gif" }}" alt="..." class="img-responsive img-circle" style="width: 50px; height: 50px;">
                </td>
                <td>
                        <span class="h4">{{ lista.lista.nome|upper }}</span>
                </td>
                <td class="text-center" style="font-size: 80%">

                            {% with voti=lista.voti %}
                            <h2 class="" style="margin: 0">{{ voti|floatformat:1 }}<small>%</small></h2>
                            {% with forbice=lista.forbice %}
                            <p class="" style="font-size: 85%">
                                {{ forbice|forbice_inf_of:voti|floatformat:1 }}<small class="text-muted">%</small> –
                                {{ forbice|forbice_sup_of:voti|floatformat:1 }}<small class="text-muted">%</small>
                            </p>
                            {% endwith %}
                        {% endwith %}
                </td>
            </tr>

        {% endfor %}
        </table>
    </div>
    {% else %}
        Al momento non ci sono proiezioni disponibili.
    {% endif %}
    </div>

    {% endwith %}
    </div>
{% endblock %}


        {% comment %}
        <h4>Liste</h4>
        <ul>
            {% for lista in proiezione.liste.all %}
            <li>{{ lista.lista|upper }}
                <strong>{{ lista.voti }}</strong>%
                <small>
                <{{ lista.forbice|forbice_inf_of:lista.voti }}<small class="text-muted">%</small>
                –
                {{ lista.forbice|forbice_sup_of:lista.voti }}<small class="text-muted">%</small>>
                <<strong class="text-muted">{{ lista.forbice }}</strong>%>
                </small>
            </li>
            {% endfor %}
        <ul>
        {% endcomment %}
