<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{{ elezione }}

<table border="1">
{% for sezione in elezione.sezioni.all %}
    {% if forloop.first %}
        <tr>
            <th>Numero</th>
            <th>Sezione</th>
            <th>Iscritti</th>
            <th>Votanti</th>
            <th>Bianche</th>
            <th>Nulle</th>
            {% for vc in sezione.voticandidato_set.all|dictsort:"candidato.cognome" %}
                <th>{{ vc.candidato }}</th>
            {% endfor %}
            {% for vl in sezione.votilista_set.all|dictsort:"lista.candidato.cognome" %}
                <th>{{ vl.lista }}<br>({{ vl.lista.candidato }})</th>
            {% endfor %}
        </tr>
    {% endif %}
    <tr>
        <td>{{ sezione.numero}}</td>
        <td>{{ sezione.nome }}</td>
        <td>{{ sezione.iscritti }}</td>
        <td>{{ sezione.votanti }}</td>
        <td>{{ sezione.schede_bianche }}</td>
        <td>{{ sezione.schede_nulle }}</td>
        {% for vc in sezione.voticandidato_set.all|dictsort:"candidato.cognome" %}
            <td>{{ vc.voti }}</td>
        {% endfor %}
        {% for vl in sezione.votilista_set.all|dictsort:"lista.candidato.cognome" %}
            <td>{{ vl.voti }}</td>
        {% endfor %}
    </tr>
{% endfor %}
</table>
</body>
</html>