{% extends "base.html" %}

{% block title %}Proiezioni Candidati{% endblock %}

{% block content %}
    <h1>Elezioni</h1>
    <table class="table table-bordered table-hover">
    {% for elezione in elezioni %}
    <tr>
        <td><h4>{{ elezione }}</h4></td>
        <td>
            <a class="btn btn-default" href="{% url 'proiezioni_home' elezione.id %}">Proiezioni</a>
            <a class="btn btn-default" href="{% url 'report_home' elezione.id %}">Report</a>

            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Rilevazione <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                {% for sezione in elezione.sezioni.all %}
                    <li><a href="{% url 'rilevazione_index' sezione.id %}">{{ sezione }}</a></li>
                {% endfor %}
              </ul>
            </div>
        </td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}