{% extends "rilevazione/base.html" %}
{% load staticfiles %}

{% block title %}Rilevazione - {{ sezione }} – {{ sezione.elezione }}{% endblock %}

{% block content %}
{% if sezione.iscritti <= 0 or sezione.votanti <= 0 %}
    <div class="alert alert-danger" role="alert">
      <p><span class="h4">Attenzione!</span> Devi inserire i dati delle sezione.</p><br>
      <a href="{% url 'edita_sezione' sezione.id %}" type="button" class="btn btn-danger btn-block btn-lg">Inserisci dati</a><a href="#" class="alert-link"></a>
    </div>
{% endif %}

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="candidati">
    <div class="container">

      {% for v in voti_candidato %}
            <div class="row" style="border-bottom: 1px solid #ddd;">
                {% include "includes/_rilevazione_riga.html" with  voti=v elemento=v.candidato tipo='candidato'%}
            </div>
      {% endfor %}
    </div>
  </div>
  <div class="tab-pane" id="liste">
    <div class="container">
      {% for v in voti_lista.all %}
          <div class="row" style="border-bottom: 1px solid #ddd;">
          {% include "includes/_rilevazione_riga.html" with  voti=v elemento=v.lista tipo='lista'%}
          </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="{% static "js/nodoubletapzoom.js" %}"></script>
    <script type="text/javascript">
        var _token = '{{ csrf_token }}';
        var _url = '{% url 'aggiorna_voti' %}';
    </script>
    <script src="{% static "js/updater.js" %}"></script>
<script type="text/javascript">
</script>
{% endblock %}