{% extends "rilevazione/base.html" %}

{% block custum_style %}
<style>
body {padding-top: 80px}
.row {
    padding: 6px;
    margin-left: -30px;
    margin-right: -30px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
position: relative;
min-height: 1px;
    /*
padding-right: 4px;
padding-left: 4px;
    padding-top: 4px;
    */
    padding: 1px 1px;
    vertical-align: middle;
    top: auto;
    bottom:auto;

}

.voti {
    font-size: 26px;
    font-weight: 400;
    text-align: right;
    margin-right: -0.85em;
}

</style>
{% endblock %}
{% block title %}Rilevazione - {{ sezione }} – {{ sezione.elezione }}{% endblock %}

{% block content %}
{% if sezione.iscritti <= 0 or sezione.votanti <= 0 %}
    <div class="alert alert-danger" role="alert">
      <p><span class="h4">Attenzione!</span> Devi inserire i dati delle sezione.</p><br>
      <a href="{% url 'edita_sezione' sezione.id %}" type="button" class="btn btn-danger btn-block btn-lg">Inserisci dati</a><a href="#" class="alert-link"></a>
    </div>
{% endif %}
<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="candidati">
    <div class="container">
        <div class="row" style="border-bottom: 1px solid #ddd;">
            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 text-left">
                <img class="img-responsive" src="{% static "images/scheda_bianca.png" %}" alt=""/>
            </div>
            <div class="col-xs-2 col-sm-6 col-md-6 col-lg-7"><h5>BIANCHE</h5></div>
            <div class="col-xs-3 col-sm-1 col-md-1 col-lg-1 text-right"><span id="schede-bianche" class="voti">{{ sezione.schede_bianche }}</span></div>

            <div class="col-xs-5 col-sm-2 col-md-1 col-lg-1 text-right">
                <button type="button" id="loading-example-btn" data-loading-text='<i class="fa fa-circle-o-notch fa-spin"></i>' data-vid="{{ sezione.id }}" class="btn btn-default btn-circle btn-lg bianche-decrementer">
                  <span class="glyphicon glyphicon-minus"></span>
                </button>
                <button type="button" id="loading-example-btn" data-loading-text='<i class="fa fa-circle-o-notch fa-spin"></i>' data-vid="{{ sezione.id }}" class="btn btn-success btn-circle btn-xl bianche-incrementer">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>
        <div class="row" style="border-bottom: 1px solid #ddd;">
            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 text-left">
                <img class="img-responsive" src="{% static "images/scheda_nulla.png" %}" alt=""/>
            </div>
            <div class="col-xs-2 col-sm-6 col-md-6 col-lg-7"><h5>NULLE</h5></div>
            <div class="col-xs-3 col-sm-1 col-md-1 col-lg-1 text-right"><span id="schede-nulle" class="voti">{{ sezione.schede_nulle }}</span></div>

            <div class="col-xs-5 col-sm-2 col-md-1 col-lg-1 text-right">
                <button type="button" id="loading-example-btn" data-loading-text='<i class="fa fa-circle-o-notch fa-spin"></i>' data-vid="{{ sezione.id }}" class="btn btn-default btn-circle btn-lg nulle-decrementer">
                  <span class="glyphicon glyphicon-minus"></span>
                </button>
                <button type="button" id="loading-example-btn" data-loading-text='<i class="fa fa-circle-o-notch fa-spin"></i>' data-vid="{{ sezione.id }}" class="btn btn-success btn-circle btn-xl nulle-incrementer">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>
      {% for v in voti_candidato %}
          {% with candidato=v.candidato %}
        <div class="row" style="border-bottom: 1px solid #ddd;">
            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 text-left">
                {% if candidato.foto %}
                    <img class="img-responsive" src="{{ MEDIA_URL }}{{ candidato.foto }}" alt=""/>
                {% else %}
                    <img class="img-responsive" src="{% static "images/default.gif" %}" alt=""/>
                {% endif %}
            </div>
            <div class="col-xs-2 col-sm-6 col-md-6 col-lg-7"><h5>{{ candidato.cognome|upper }}<p class="text-muted" style="font-size: small">{{ candidato.nome }}</p>

            </h5></div>
            <div class="col-xs-3 col-sm-1 col-md-1 col-lg-1 text-right"><span id="vc-{{ v.id }}-id" class="voti">{{ v.voti }}</span></div>

            <div class="col-xs-5 col-sm-2 col-md-1 col-lg-1 text-right">
                <button type="button" id="loading-example-btn" data-loading-text='<i class="fa fa-circle-o-notch fa-spin"></i>' data-vid="{{ v.id }}" class="btn btn-default btn-circle btn-lg decrementer">
                  <span class="glyphicon glyphicon-minus"></span>
                </button>
                <button type="button" id="loading-example-btn" data-loading-text='<i class="fa fa-circle-o-notch fa-spin"></i>' data-vid="{{ v.id }}" class="btn btn-success btn-circle btn-xl incrementer">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>
          {% endwith %}
      {% endfor %}
    </div>
  </div>
  <div class="tab-pane" id="liste">
    <div class="container">

      {% for v in voti_lista.all %}
          {% with lista=v.lista %}
        <div class="row" style="border-bottom: 1px solid #ddd;">
            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                {% if v.lista.simbolo %}
                    <img class="img-responsive" src="{{ MEDIA_URL }}{{ v.lista.simbolo }}" alt=""/>
                {% else %}
                    <img class="img-responsive" src="{% static "images/default.gif" %}" alt=""/>
                {% endif %}
            </div>
            <div class="col-xs-3 col-sm-8 col-md-8 col-lg-8"><h5>{{ v.lista.nome|upper }}<p class="text-muted text-nowrap" style="font-size: small; font-weight: 400; margin-top:2px">{{ v.lista.candidato.cognome|upper }}</p>

            </h5></div>
            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 text-right"><span id="vl-{{ v.id }}-id" class="voti">{{ v.voti }}</span></div>

            <div class="col-xs-5 col-sm-2 col-md-2 col-lg-2 text-right">

                <button type="button" id="loading-example-btn" data-loading-text='<i class="fa fa-circle-o-notch fa-spin"></i>' data-vid="{{ v.id }}" class="btn btn-default btn-circle btn-lg vl-decrementer">
                  <span class="glyphicon glyphicon-minus"></span>
                </button>

                <button type="button" id="loading-example-btn" data-loading-text='<i class="fa fa-circle-o-notch fa-spin"></i>' data-vid="{{ v.id }}" class="btn btn-success btn-circle btn-xl vl-incrementer">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>

        </div>
          {% endwith %}

      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">

//var requestData = { 'ievent_id': type , 'channel_id': CHANNEL_ID , 'start_date': dateToStrConverter(start_date) , 'end_date': dateToStrConverter(end_date) };
$(document).ready(function() {

   $(".bianche-incrementer").click(function(event){
       var me = $(this)
       me.button('loading')
       console.log(me.text());
        $.ajax({
             type: "POST",
             url:"/elezioni/test_bianche",
             data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    'vid': me.data( "vid" ), // from form
                    'op': 'inc'

                    },
             success: function(data){
                 // $('#message').html("<h2>Contact Form Submitted!</h2>")
                 console.log('Success!'+data);
                 me.button('reset');
                 console.log('#vc-'+me.data('vid')+'-id');
                 $('#schede-bianche').text(data);
             },
             error: function(){
                 console.log('Errror!');
                 me.button('reset')
             }

        });
        return false; //<---- move it here
   });


   $(".bianche-decrementer").click(function(event){
       var me = $(this)
       me.button('loading')
       console.log(me.text());
        $.ajax({
             type: "POST",
             url:"/elezioni/test_bianche",
             data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    'vid': me.data( "vid" ), // from form
                    'op': 'dec'

                    },
             success: function(data){
                 // $('#message').html("<h2>Contact Form Submitted!</h2>")
                 console.log('Success!'+data);
                 me.button('reset');
                 console.log('#vc-'+me.data('vid')+'-id');
                 $('#schede-bianche').text(data);
             },
             error: function(){
                 console.log('Errror!');
                 me.button('reset')
             }

        });
        return false; //<---- move it here
   });


   $(".nulle-incrementer").click(function(event){
       var me = $(this)
       me.button('loading')
       console.log(me.text());
        $.ajax({
             type: "POST",
             url:"/elezioni/test_nulle",
             data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    'vid': me.data( "vid" ), // from form
                    'op': 'inc'

                    },
             success: function(data){
                 // $('#message').html("<h2>Contact Form Submitted!</h2>")
                 console.log('Success!'+data);
                 me.button('reset');
                 console.log('#vc-'+me.data('vid')+'-id');
                 $('#schede-nulle').text(data);
             },
             error: function(){
                 console.log('Errror!');
                 me.button('reset')
             }

        });
        return false; //<---- move it here
   });


   $(".nulle-decrementer").click(function(event){
       var me = $(this)
       me.button('loading')
       console.log(me.text());
        $.ajax({
             type: "POST",
             url:"/elezioni/test_nulle",
             data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    'vid': me.data( "vid" ), // from form
                    'op': 'dec'

                    },
             success: function(data){
                 // $('#message').html("<h2>Contact Form Submitted!</h2>")
                 console.log('Success!'+data);
                 me.button('reset');
                 console.log('#vc-'+me.data('vid')+'-id');
                 $('#schede-nulle').text(data);
             },
             error: function(){
                 console.log('Errror!');
                 me.button('reset')
             }

        });
        return false; //<---- move it here
   });


   $(".incrementer").click(function(event){
       var me = $(this)
       me.button('loading')
       console.log(me.text());
        $.ajax({
             type: "POST",
             url:"/elezioni/test",
             data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    'vid': me.data( "vid" ), // from form
                    'op': 'inc'

                    },
             success: function(data){
                 // $('#message').html("<h2>Contact Form Submitted!</h2>")
                 console.log('Success!'+data);
                 me.button('reset');
                 console.log('#vc-'+me.data('vid')+'-id');
                 $('#vc-'+me.data('vid')+'-id').text(data);
             },
             error: function(){
                 console.log('Errror!');
                 me.button('reset')
             }

        });
        return false; //<---- move it here
   });
   $(".decrementer").click(function(event){
       var me = $(this)
       me.button('loading')
       console.log(me.text());
        $.ajax({
             type: "POST",
             url:"/elezioni/test",
             data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    'vid': me.data( "vid" ), // from form
                    'op': 'dec'

                    },
             success: function(data){
                 // $('#message').html("<h2>Contact Form Submitted!</h2>")
                 console.log('Success!'+data);
                 me.button('reset');
                 console.log('#v-'+me.data('vid')+'-id');
                 $('#vc-'+me.data('vid')+'-id').text(data);
             },
             error: function(){
                 console.log('Errror!');
                 me.button('reset')
             }

        });
        return false; //<---- move it here
   });
   $(".vl-incrementer").click(function(event){
       var me = $(this)
       me.button('loading')
       console.log(me.text());
        $.ajax({
             type: "POST",
             url:"/elezioni/test2",
             data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    'vid': me.data( "vid" ), // from form
                    'op': 'inc'

                    },
             success: function(data){
                 // $('#message').html("<h2>Contact Form Submitted!</h2>")
                 console.log('Success!'+data);
                 me.button('reset');
                 console.log('#vl-'+me.data('vid')+'-id');
                 $('#vl-'+me.data('vid')+'-id').text(data);
             },
             error: function(){
                 console.log('Errror!');
                 me.button('reset')
             }

        });
        return false; //<---- move it here
   });
   $(".vl-decrementer").click(function(event){
       var me = $(this)
       me.button('loading')
       console.log(me.text());
        $.ajax({
             type: "POST",
             url:"/elezioni/test2",
             data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    'vid': me.data( "vid" ), // from form
                    'op': 'dec'

                    },
             success: function(data){
                 // $('#message').html("<h2>Contact Form Submitted!</h2>")
                 console.log('Success!'+data);
                 me.button('reset');
                 console.log('#l-'+me.data('vid')+'-id');
                 $('#vl-'+me.data('vid')+'-id').text(data);
             },
             error: function(){
                 console.log('Errror!');
                 me.button('reset')
             }

        });
        return false; //<---- move it here
   });
});
</script>
{% endblock %}