{% load eletags %}
<div class="thumbnail badge-candidato-5">
    <a href="{% url 'proiezioni_candidato' elezione.id candidato.candidato_id %}">
        <img src="{{ MEDIA_URL }}{{ candidato.candidato.foto|default:"images/default.gif" }}" alt="..." class="img-responsive" style="width:100%">
    </a>
    <div class="caption text-center cognome">
        <span class="h3">{{ candidato.candidato.cognome|upper }}</span>
    </div>

    <div class="caption text-center voti">
            {% with voti=candidato.voti %}
            <h1>{{ voti|floatformat:1 }}<small>%</small></h1>
            {% with forbice=candidato.get_forbice %}
            <span class="forbice">
                {{ forbice|forbice_inf_of:voti|floatformat:1 }}<small class="">%</small> –
                {{ forbice|forbice_sup_of:voti|floatformat:1 }}<small class="">%</small>
            </span>
            {% endwith %}
        {% endwith %}
    </div>
</div>