{% load eletags %}
{% block custom_style %}
    <style>
    .totali * { font-weight: bold; }

    </style>
{% endblock %}

<table class="table table-hover table-condensed table-bordered">
    <thead>
        <tr>
            <td colspan="3">Sezione</td>
            <td colspan="4">Schede</td>
            <td colspan="{{ risultati.totali.elementi.count }}">Candidati</td>

        </tr>
        <tr>
            <td>Nr</td>
            <td>Iscritti</td>
            <td>Votanti</td>
            <td>Scrutinate</td>
            <td>Valide</td>
            <td>Nulle</td>
            <td>Bianche</td>
            {% for s in risultati.totali.elementi %}
                <td class="small">{{ s|upper|truncatechars:20}}</td>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% comment %}
        <tr style="background-color: #eee; font-weight: bold">
            {% include "includes/_report_tabella_riga.html" with sezione=risultati.totali %}
        </tr>
        {% endcomment %}
        {% for sezione in risultati.sezioni %}

            <tr>
                {% include "includes/_report_tabella_riga.html" with sezione=sezione %}
            </tr>

        {% endfor %}
        <tr style="background-color: #eee; font-weight: bold" class="totali">
            {% include "includes/_report_tabella_riga.html" with sezione=risultati.totali %}
        </tr>
    </tbody>
</table>
<br>
&nbsp;