{% load staticfiles %}
{% if elemento and tipo and voti %}
    {% ifequal tipo "lista" %}
        <div class="visible-xs hidden-sm hidden-md hidden-lg">
            <h5>{{ elemento.nome|upper }} <span class="text-muted text-nowrap" style="font-size: small; font-weight: 400; margin-top:2px">{{ elemento.candidato.cognome|upper }}</span></h5>
        </div>
    {% endifequal %}
<div class="{% ifequal tipo "candidato"%}xs-hidden{% else %}col-xs-2{% endifequal %} col-sm-1 col-md-1 col-lg-1 text-left">
    {% if tipo == 'candidato' and elemento.foto %}
        <img class="hidden-xs img-responsive" src="{{ MEDIA_URL }}{{ elemento.foto }}" alt=""/>
    {% elif  tipo == 'lista' and elemento.simbolo %}
        <img class="img-responsive" src="{{ MEDIA_URL }}{{ elemento.simbolo }}" alt=""/>
{#        <p class="visible-xs hidden-sm hidden-md hidden-lg text-muted text-nowrap" style="font-size: small; font-weight: 400; margin-top:2px">{{ elemento.candidato.cognome|upper }}</p>#}
    {% else %}
        <img class="img-responsive" src="{% static "images/default.gif" %}" alt=""/>
    {% endif %}
</div>

<div class="{% ifequal tipo "candidato"%}col-xs-4{% else %}hidden-xs{% endifequal %} col-sm-7 col-md-7 col-lg-8">
    {% if tipo == 'candidato' %}
        <h3>{{ elemento.cognome|upper }}<p class="text-muted small">{{ elemento.nome }}</p></h3>
    {% elif tipo == 'lista' %}
        <h5>{{ elemento.nome|upper }}<p class="text-muted text-nowrap" style="font-size: small; font-weight: 400; margin-top:2px">{{ elemento.candidato.cognome|upper }}</p></h5>
    {% else %}
    {% endif %}
</div>
<div class="{% ifequal tipo "candidato"%}col-xs-3{% else %}col-xs-5{% endifequal %} col-sm-1 col-md-1 col-lg-1 {% ifequal tipo "candidato"%}text-center{% else %}text-center{% endifequal %}">
    <span id="voti-{{ tipo }}-{{ voti.id }}" class="voti">{{ voti.voti }}</span>
</div>
<div class="col-xs-5 col-sm-2 col-md-2 col-lg-2 text-right pulsanti">
    <button type="button" id="updater-{{ tipo }}-{{ voti.id }}-dec-btn" data-loading-text='<i class="fa fa-circle-o-notch fa-spin"></i>' data-vid="{{ voti.id }}" data-tipo="{{ tipo }}" data-operazione="dec" class="btn btn-default btn-circle btn-lg updater" autocomplete="off">
      <span class="glyphicon glyphicon-minus"></span>
    </button>
    <button type="button" id="updater-{{ tipo }}-{{ voti.id }}-inc-btn" data-loading-text='<i class="fa fa-circle-o-notch fa-spin"></i>' data-vid="{{ voti.id }}" data-tipo="{{ tipo }}" data-operazione="inc" class="btn btn-success btn-circle btn-xl updater" autocomplete="off">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
</div>
{% endif %}