<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div style="display: block; margin-left: auto; margin-right: auto; padding: 0px 0; margin-top: 0px; margin-bottom: -40px">
                <img src="{{ MEDIA_URL }}../../../static/images/logo0.jpg" class="img-responsive"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div style="display: block; margin-left: auto; margin-right: auto; padding-top: 160px;" class="text-center">
                <span class="text-muted">Elaborazione dati a cura di</span><br>
                <img src="{{ MEDIA_URL }}../../../static/images/tiesi-logo.png" class="" style="width:160px; "/>
            </div>
        </div>
    </div>
</div>