{% load eletags %}

<table class="table table-hover table-condensed table-bordered">
    <thead>
    <tr>
        <td colspan="3">Sezione</td>
        <td colspan="4">Schede</td>
        <td colspan="{{ risultati.nomi.count }}">Candidati</td>

    </tr>
    <tr>
        <td>Nr</td>
        <td>Iscritti</td>
        <td>Votanti</td>
        <td>Scrutinate</td>
        <td>Valide</td>
        <td>Nulle</td>
        <td>Bianche</td>
        {% for nome in risultati.nomi %}
            <td class="small">{{ nome.0|upper|truncatechars:20}}</td>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
{% for sezione in risultati.sezioni %}
    <tr class="{% if forloop.last %}totali{% endif %}">
        <td>{{ sezione.numero }}</td>
        <td>{{ sezione.iscritti }}</td>
        <td>{{ sezione.votanti }}</td>
        <td>
            {% include "includes/_voti3.html" with parziale=sezione.schede_scrutinate totale=sezione.votanti %}
        </td>
        <td>
            {% include "includes/_voti3.html" with parziale=sezione.schede_valide totale=sezione.schede_scrutinate %}
        </td>
        <td>
            {% include "includes/_voti3.html" with parziale=sezione.schede_nulle totale=sezione.schede_scrutinate %}
        </td>
        <td>
            {% include "includes/_voti3.html" with parziale=sezione.schede_bianche totale=sezione.schede_scrutinate %}
        </td>
        {% for elemento in sezione.elementi %}
            <td>
                {% include "includes/_voti3.html" with parziale=elemento.voti totale=sezione.schede_valide %}
            </td>
        {% endfor %}
    </tr>
{% endfor %}
    </tbody>
</table>
<br>
&nbsp;