{% load eletags %}

<td>{{ sezione.numero }}</td>
<td>{{ sezione.iscritti }}</td>
<td>{{ sezione.votanti }}</td>
{% with schede_scrutinate=sezione.schede_valide|add:sezione.schede_bianche|add:sezione.schede_nulle %}
<td>
    {% include "includes/_votiz.html" with parziale=schede_scrutinate totale=sezione.votanti %}
</td>
<td>
    {% include "includes/_votiz.html" with parziale=sezione.schede_valide totale=schede_scrutinate %}
</td>
<td>
    {% include "includes/_votiz.html" with parziale=sezione.schede_nulle totale=schede_scrutinate %}
</td>
<td>
    {% include "includes/_votiz.html" with parziale=sezione.schede_bianche totale=schede_scrutinate %}
</td>
{% for elemento in sezione.elementi %}
    <td>
        {% include "includes/_votiz.html" with parziale=elemento.rvoti totale=sezione.schede_valide %}
    </td>
{% endfor %}
{% endwith %}